body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #fff;
}
div{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label{
    color: #fff;
    margin-bottom: 8px;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit{
    background-color: #8257e5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#submit:hover{
    background-color: #6f48c9;
}