body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #ffffff;
}
.button-62 {
    background-color: #8257e5;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button-62:hover {
    background-color: #6f48c9;
    color: white;
}
div{
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
a{
    text-decoration: none;
}